<link rel='stylesheet' href='pi.css' type='text/css'>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='pi.js'></script>

<div class='center'>
   <h1>Pi Generator</h1>
<form name='myForm' method='post'>
   <input type='text' readonly='readonly' id='result' placeholder='pi' /><br />
   <input type='number' placeholder='accuracy' id='accuracy' /><br />
   <input type='button' onclick='Calculate()' value='Calculate' />
</form>
   <p>This uses the Leibniz formula for Pi. Accuracy is the amount of times the loop is repeated. The more times the loop is repeated, the more accurate your value gets.</p>
   <br> <p> Last updated: 19:25, 24.02.17 EET </p>
 <div/>
